.relative {
    position: relative;
}
.section-background-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 100%;
    z-index: 0;
    + div {
        position: relative;
    }
}

.content-area {
    width: 100%;
    @include max-mq ($lg) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

::selection {
    background-color: $tertiary-color;
    color: $white;
}

.icon-check-ok {
    color: $tertiary-color;
    font-size: $font-size-h1 + 0.275;
}