.button {
	font-weight: $font-weight-xb;
	text-transform: uppercase;
	padding: 15px 25px;
	border-radius: 30px;
	transition: all .5s;
	&.button-primary {
		background-color: $primary-color;
	}

	&.button-secondary {
		background-color: $secondary-color;
	}

	&.button-tertiary {
		background-color: $tertiary-color;
		border: 1px solid $tertiary-color;
		color: $white;
		&:hover {
			background-color: $secondary-color;
			border-color: $secondary-color;
		}
	}
}